<?xml version="1.0"?>
<!--
/**
 * Payplug - https://www.payplug.com/
 * Copyright © Payplug. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="hyva-magento2-payplug-checkout" xsi:type="array">
                    <item name="original_module" xsi:type="string">Payplug_Payments</item>
                    <item name="compat_module" xsi:type="string">Payplug_PaymentsHyvaCheckout</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Hyva\Checkout\Model\Magewire\Payment\PlaceOrderServiceProvider">
        <arguments>
            <argument name="placeOrderServiceList" xsi:type="array">
                <item name="payplug_payments_standard" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\DeferPlaceOrderService
                </item>
                <item name="payplug_payments_oney" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_oney_without_fees" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_bancontact" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_sofort" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_satispay" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_amex" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_apple_pay" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\ApplepayPlaceOrderService
                </item>
                <item name="payplug_payments_giropay" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_ideal" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_installment_plan" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_mybank" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_ondemand" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_bizum" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_scalapay" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
                <item name="payplug_payments_wero" xsi:type="object">
                    Payplug\PaymentsHyvaCheckout\Model\Magewire\Payment\PlaceOrderService
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Payplug\PaymentsHyvaCheckout\ViewModel\PayplugIcons">
        <arguments>
            <argument name="iconPathPrefix" xsi:type="string">Payplug_PaymentsHyvaCheckout::svg/payplug</argument>
        </arguments>
    </type>

    <type name="Payplug\Payments\Helper\Config">
        <plugin name="hyva_checkout_payplug_track_hyva_version" type="Payplug\PaymentsHyvaCheckout\Plugin\TrackHyvaVersion"/>
    </type>

</config>
